.input {
  height: 50px;
  width: 80%;
  border-radius: 12px;
  background-color: white;
  display: flex;
}

input {
  flex: 1;
  border-radius: 12px;
  border: none;
  background: none;
  margin-left: 12px;
}

input:focus {
  outline: none;
}

button {
  background: rgb(214, 213, 213);
  margin: 8px;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
  /* text-align: cen; */
  /* border-left: 1px solid black; */
}

button:focus {
  outline: none;
}
