.app {
  height: 1000px;
  /* height: 100%; */
  /* width: 1054px; */
  width: 100%;
  background-color: rgb(168, 173, 182);
  display: grid;
  place-items: center;
}
.app__container {
  height: 700px;
  /* height: 100%; */
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
}

.app__todoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
